
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 19);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    font-weight: 700;
}

.box{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    
    float: left;
    width: 33.33%;
    padding: 5px;
}

img{
    margin: 10px;
    border: 3px solid aqua;


}

.box::after{
    content: "";
    display: table;
    clear: both;
}

